@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic|Lobster);

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;

  -webkit-transition: 600ms ease all;
  -ms-transition: 600ms ease all;
  transition: 600ms ease all;

  background-color: #0ef;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

main {
  position: relative;
  top: 60px;
  margin: 0 auto 1em auto;
  max-width: 500px;
  display: block;
}

ng-view {
  display: block;
  margin: 0 5px 0 5px;
}